##### Server Config
export PORT=8080
export BODY_LIMIT=5mb
export ALLOW_CORS_ORIGIN=*
export ALLOW_CORS_METHODS=OPTIONS,GET,POST,PUT,PATCH,DELETE
#
##### Express Utils Config
export SERVICE_NAME=API_BOILERPLATE
#
export OAUTH_POOL_ID=
export OAUTH_ENDPOINT=
#
export AAUTH_ENDPOINT=
export AAUTH_API_KEY=
#
export LOGGER_MODE=CONSOLE_VERBOSE
export LOGGER_REQ_RES_LOG_ENABLED=true
export LOGGER_REQ_RES_LOG_BODY_ENABLED=true
export LOGGER_PROPS_STRNGIFIED=true
#
export DISABLE_CREDENTIAL_CRYPTOGRAPHY=true
export DISABLE_PAYLOAD_CRYPTOGRAPHY=true
export DISABLE_OAUTH=true
export DISABLE_AAUTH=true
#
export HTTP_CLIENT_BODY_LOG_ENABLED=true
#
export TIMEZONE="Asia/Kolkata"
#
##### Api Crpto Config
export API_CRYPTO_KMS_KEY_ID=''
export API_CRYPTO_KMS_KEY_SPEC='RSA_2048'
export API_CRYPTO_KMS_CIPHERTEXT_FORMAT='base64'
export API_CRYPTO_REDIS_AUTH_ENABLED='false'
export API_CRYPTO_REDIS_CHECK_SERVER_IDENTITY='false'
export API_CRYPTO_REDIS_HOST='localhost'
export API_CRYPTO_REDIS_PORT='6379'
export API_CRYPTO_REDIS_KEY_PREFIX='api-crypto'
export API_CRYPTO_REDIS_AUTH='false'
export API_CRYPTO_KEY_CACHE_TTL_IN_DAYS='1'
export API_CRYPTO_CLIENT_ID_HEADER_KEY='X-Client-ID'
export API_CRYPTO_ENCRYPTION_KEY_HEADER_KEY='X-Encryption-ID'
#
##### Starting Server Locally
# cd /Path/to/project/root/directory/
# npm start
#
##### Starting Server using PM2
# cd /Path/to/project/root/directory/
# node server.js
